
<div class="container" style="margin-top: 50px;"></div>
<div class="container" style="margin-right: 50px;" style="margin-top: 100px;">
    <div class="row">
            <div class="col-sm-3" *ngFor="let news of Maha" style="margin-left: 100px;" style="margin-right: 50px;"  >

                    <div class="card" style="width:310px;" >
                        <img class="card-img-top" [src]="news.img"  class="img-thumbnail" alt="Card image" style="width:100%" width="304" height="236">
                        <div class="card-body">
                            <h4 class="card-title">{{news.id}} {{news.name}}</h4>
                             <p class="card-text"><a [href]="news.link"><b><h5>Live News-</h5></b></a></p>
                        </div>
                    </div>  
            </div>
            
       </div>
</div>

